include LICENSE
include README.md
exclude MANIFEST.in
include *.rst
recursive-include docs *
recursive-include src/senaite *
recursive-exclude src/senaite *.pyc
recursive-exclude src/senaite/app/spotlight *.pyc
recursive-exclude src/senaite/app/spotlight/tests *
recursive-exclude src/senaite/app/spotlight/docs *
recursive-exclude src/senaite/app/spotlight/static/src *
